<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-blog">Create new blog</a>
<h1>Blogs</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form action="/list" method="get">
    Search by first title:
    <input name="key" type="text"/>
    <input type="submit" value="Search"/>
</form>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Date</th>
        <th>Title</th>
        <th>Show content</th>
        <th>Edit</th>
        <th>Del</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.postDate}"></td>
            <td th:text="${blog.title.name}"></td>
            <td><a th:href="@{/show-blog/__${blog.id}__ }">Show</a></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/del-blog/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{/list(page=${blogs.number - 1},key=${keyValue})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{/list(page=${blogs.number + 1},key=${keyValue})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>