<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Edit Question</title>-->
<!--    <link rel="stylesheet" href="/css/bootstrap.css">-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="~{/home/header::header}"></div>-->

<!--<div style="width: 40%; margin-left: 30%;border: 1px solid black; margin-bottom: 80px;margin-top: 165px">-->

<!--    <form th:action="@{/question-edit}" th:object="${questionDto}" method="post" style="padding: 3%">-->
<!--        <div>-->
<!--            <h4 >Update Customer</h4>-->
<!--        </div>-->
<!--        <th:block th:if="${message}">-->
<!--            <p class="text-success" th:text="${message}"></p>-->
<!--        </th:block>-->
<!--        <div>-->
<!--                <input th:type="hidden" th:field="*{id}" type="text" name="id">-->

<!--            <div class="form-group">-->
<!--                <label>Content Question</label>-->
<!--                <input th:field="*{contentQuestion}" type="text" name="name" class="form-control" required>-->
<!--            </div>-->
<!--        <div>-->
<!--            <a href="/questions"><input type="button" class="btn btn-danger w-25" value="Cancel"></a>-->
<!--            <input type="submit" class="btn btn-success w-25" value="Update">-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--<div th:replace="~{/home/footer::footer}"></div>-->

<!--<script src="/js/jquery-3.6.0.min.js"></script>-->
<!--<script src="/js/mdb.min.js"></script>-->
<!--</body>-->
<!--</html>-->