body {
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

header {
    background: black;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    text-align: center;
}
footer {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}
nav{
    height: 40px;
    background: gray;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
}
nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
    padding: 5px;
}
main {
    display: flex;
    height: 400px;
    margin-top: 120px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 60%;
    background: blue;
    justify-content: space-between;
    text-align: center;
}
article{
    background: burlywood;
    height: 200px;
    text-align: center;

}
aside{
    width: 40%;
    background: aqua;
    text-align: center;
}
