<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create blog</title>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/titles">Title list</a>
</p>

<form th:action="@{/create-title}" th:object="${title}" method="post">
    <table>
        <tr>
            <td>Name title:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Title"></td>
        </tr>

    </table>
</form>
</body>
</html>