<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<h1>Create user</h1>

<form th:action="@{/create}" th:object="${userDato}" method="post">
    <table>
        <tr>
            <td>Firt name:</td>
            <td><input type="text" th:field="*{firtName}"/></td>
            <td style="color: red" th:if="${#fields.hasErrors('firtName')}" th:errors="*{firtName}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{numberPhone}"/></td>
<!--            <p style="color: red" th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}"></p>-->
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}"/></td>
<!--            <p style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>-->
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
<!--            <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Create User"></td>
        </tr>

    </table>
</form>
</body>
</html>