<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
<h1>Create product</h1>
<p>
    <a href="/list">Product list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-product}" th:object="${product}" method="post">
    <table>
        <tr>
            <td>Name product:</td>
            <td><input type="text" th:field="*{nameProduct}"/></td>
        </tr>
        <tr>
            <td>Quantity product:</td>
            <td><input type="text" th:field="*{quantity}"/></td>
        </tr>
        <td>Type product:</td>
        <td>
            <select th:field="*{type}">
                <option th:each="t : ${types}" th:value="${t.id}" th:text="${t.nameType}"></option>
            </select>
        </td>

        <tr>
            <td></td>
            <td><input type="submit" value="Create Product"></td>
        </tr>

    </table>
</form>
</body>
</html>