<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<h1>Edit product</h1>
<p>
    <a href="/list">Product list</a>
</p>

<form th:action="@{/del-product}" th:object="${product}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{nameProduct}"/></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}"/></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <select th:field="*{type}">
                    <option th:each="t : ${types}" th:value="${t.id}" th:text="${t.nameType}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Delete product"></td>
        </tr>
    </table>
</form>
</body>
</html>